header {
    background-color: #000853;
    padding: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 15px;

}
header h1 {
    font-size: 40px;
}
.SESSÃO1  {
    font-size: 30px;
    padding: 80px; /*preenchimento da sessão*/
    background-color: #0b1764; /*cor de fundo*/
    display: flex; /*deixando flex / lado a lado*/
    justify-content: center; /*Justificando o conteúdo ao centro */
    align-items: center; /*Alinhando os itens ao centro*/
    gap: 20px; /*Espaço/respiro entre os itens*/
    color: aliceblue;
}
.sessão2 {
    background-color: #152576;
    padding: 30px;
    text-align: center;
}
.sessão2 i {
    font-size: 30px;
    color: aliceblue;
}
.sessão3 {
    background-color: #203487;
    padding: 40px;
    background-image: url(imagens/decoration-4941003_1280.png);
    display: flex;
    justify-content: center;

}
