header {
    background-color: #0a516d;
    padding: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 15px;

}
header h1 {
    font-size: 40px;
}
.sessao1  {
    font-size: 30px;
    padding: 80px; /*preenchimento da sessão*/
    background-color: #018790; /*cor de fundo*/
    display: flex; /*deixando flex / lado a lado*/
    justify-content: center; /*Justificando o conteúdo ao centro */
    align-items: center; /*Alinhando os itens ao centro*/
    gap: 20px; /*Espaço/respiro entre os itens*/
    color: aliceblue;
}
.sessao2 {
    background-color: #7dad93;
    padding: 30px;
    text-align: center;
    color: aliceblue;
}
.sessao2 i {
    font-size: 30px;
    color: aliceblue;
}
.sessao3 {
    
    padding: 200px;
    text-align: center;
    background-image: url(imagens/menu-3167860_1280.jpg);
    background-size: cover;
    display: flex;
}
.sessao3 button {
    width: 200px; /*largura do botão*/
    padding: 20px; /*Preenchimento do botão*/
    color: rgb(192, 174, 11);
    background-color: rgb(51, 35, 35);
    border-radius: 20px; /*Arredondamento do botão*/
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

footer {
    background-color: #bacca4;
    padding: 60px;
    text-align: center;
}
footer i {
    font-size: 30px;
    color: aliceblue;
}
footer p {
    font-size: 30px;
    color: aliceblue;
}
