header {
    background-color: #044239;
    padding: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 15px;

}
header h1 {
    font-size: 40px;
}
.sessao1  {
    font-size: 30px;
    padding: 80px; /*preenchimento da sessão*/
    background-color: #034c42; /*cor de fundo*/
    display: flex; /*deixando flex / lado a lado*/
    justify-content: center; /*Justificando o conteúdo ao centro */
    align-items: center; /*Alinhando os itens ao centro*/
    gap: 20px; /*Espaço/respiro entre os itens*/
    color: aliceblue;
}
.sessao2 {
    background-color: #0f684b;
    padding: 30px;
    text-align: center;
    color: aliceblue;
}
.sessao2 i {
    font-size: 60px;
    color: aliceblue;
}
.sessao3 {
    padding: 300px;
    background-position: bottom; /*Posicionamento da Imagem*/
    background-size: cover; /*Preechimento da área disponível da Imagem*/
    background-repeat: no-repeat; /*Retirando a repetição da imagem no Background.*/
    display: flex; /*tornando os itens flex*/
    justify-content: center; /*Alinhando o botão ao centro*/
    background-image: url(imagens/map-2527413_1280.jpg);
}
.sessao3 button {
    width: 180px; /*largura do botão*/
    padding: 20px; /*Preenchimento do botão*/
    color: rgb(255, 255, 255);
    background-color: #3b8952;
    border-radius: 20px; /*Arredondamento do botão*/
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

footer {
    background-color: #3b8952;
    padding: 60px;
    text-align: center;
}
footer i {
    font-size: 30px;
    color: aliceblue;
}
footer p {
    font-size: 30px;
    color: aliceblue;
}
